---
import "../styles/main.css";

const heading = "SmartEnvision";
const subheading =
    "ควบคุมระบบบ้านอัจฉริยะด้วย SmartEnvision บ้านอัจฉริยะที่สะดวก ปลอดภัย สำหรับทุกคน รวมถึงผู้สูงอายุและผู้พิการ";
const appIcon = "/images/BetterEnvision.webp";
const appScreenshot = [
    "/images/PreMockup1.webp",
    "/images/PreMockup2.webp",
    "/images/PreMockup3.webp",
    "/images/PreMockup4.webp",
];
const footerImage = "/images/Bottom-Banners.webp";
const badges = [
    {
        link: "https://github.com/FujaTyping/HfA-Project/tree/main/HfA-Source/HfA",
        image: "/images/ESP-Download.webp",
    },
    {
        link: "https://github.com/FujaTyping/HfA-Project/releases/latest/download/SmartEnvision.apk",
        image: "/images/Android-Download.webp",
    },
];
const authors = [
    {
        name: "นาย สิรภพ สุขชู",
        url: "https://siraphop.me",
    },
];
const pageTitle = "SmartEnvision";
const favicon = "/images/BetterEnvision.webp";
const badgegen = [
    "https://badgen.net/github/release/FujaTyping/HfA-Project?color=black",
    "https://badgen.net/github/commits/FujaTyping/HfA-Project?color=black",
];
const card = [
    {
        icon: "/images/AiFeature.webp",
        title: "AI-Powered Health",
        dest: "MediVise ให้คําแนะนําเกี่ยวกับปัญหาทั่วไป ตรวจอาการ และแนะนําวิธีแก้ไขหรือเมื่อใดควรขอความช่วยเหลือ",
    },
    {
        icon: "/images/IoTFeature.webp",
        title: "IoT Smart Home Control",
        dest: "จัดการอุปกรณ์สมาร์ทโฮม เช่น แสงสว่างและอุณหภูมิตามความต้องการด้านสุขภาพ",
    },
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href={favicon} />
        <meta name="viewport" content="width=device-width" />
        <meta name="author" content="Siraphop Sukchu" />
        <meta
            name="keywords"
            content="Envision,envision,SmartEnvision,smartenvision,ESP32,esp32,IoT,iot"
        />
        <meta
            name="description"
            content="SmartEnvision - ควบคุมระบบบ้านอัจฉริยะด้วย SmartEnvision บ้านอัจฉริยะที่สะดวก ปลอดภัย สำหรับทุกคน รวมถึงผู้สูงอายุและผู้พิการ"
        />
        <meta name="theme-color" content="#ffffff" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="container">
            <main>
                <div class="text-container">
                    <img src={appIcon} class="app-icon" />
                    <h1 class="heading tracking-in-expand">{heading}</h1>
                    <h2 class="subheading">{subheading}</h2>
                    <div class="badge-container">
                        {
                            badges.map((badge) => (
                                <div>
                                    <a href={badge.link} target="_self">
                                        <img src={badge.image} class="badge" />
                                    </a>
                                </div>
                            ))
                        }
                        <div>
                            <a id="AppleInstruction" target="_self">
                                <img
                                    src="/images/IOS-Instruction.webp"
                                    class="badge"
                                />
                            </a>
                        </div>
                    </div>
                    <p class="authors">
                        ดูเวอร์ชั่นของ SmartEnvision ทั้งหมดได้ที่ <a
                            href="https://github.com/FujaTyping/HfA-Project/releases"
                            target="_self">Github</a
                        ><br />
                        สร้างด้วย &#x2665; โดย
                        {
                            authors.map((author, index) => (
                                <span>
                                    {index > 0
                                        ? index === authors.length - 1
                                            ? " and "
                                            : ", "
                                        : ""}
                                    <a href={author.url} target="_self">
                                        {author.name}
                                    </a>
                                </span>
                            ))
                        }
                    </p>
                    <div style="margin-top: 4px;">
                        {
                            badgegen.map((image, index) => (
                                <img
                                    alt="Mockup"
                                    style="margin-right: 6px;"
                                    src={image}
                                />
                            ))
                        }
                    </div>
                </div>
                <div>
                    {
                        appScreenshot.map((image, index) => (
                            <img
                                src={image}
                                style={{
                                    display: index > 0 ? "none" : "block",
                                }}
                                class="app-screenshot"
                            />
                        ))
                    }
                </div>
            </main>
            <h1 class="Whattitle">Feature</h1>
            <div class="ccard">
                {
                    card.map((card, index) => (
                        <div class="ccard-item">
                            <img src={card.icon} />
                            <h3>{card.title}</h3>
                            <p>{card.dest}</p>
                        </div>
                    ))
                }
            </div>
            <footer>
                <img src={footerImage} class="footer-image" />
            </footer>
        </div>
    </body>
    <script>
        import { NoticeIOS } from "../script/function";
        import w3 from "../script/w3.js";
        w3.slideshow(".app-screenshot", 5000);
        document
            .getElementById("AppleInstruction")
            .addEventListener("click", NoticeIOS);
    </script>
</html>
